<html>
안녕하세요 다행입니다.
<br>
아래 버튼을 눌러서, 인증을 해주세요.


<!--<form action="http://localhost:8000/user_active/" accept-charset="utf-8" name="person_info" method="POST" >-->
<form action="https://api.dahaengback.shop/user_active/" accept-charset="utf-8" name="person_info" method="POST">

    <input style="display:none;" type="text" name="profile_id" placeholder=`{{profile_id}}` value=`{{profile_id}}`/>

    <input style="display:none;" type="text" name="token" placeholder=`{{token}}` value=`{{token}}`/>
    <button type='submit'> 인증하기</button>
</form>
</html>